# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments
.env
.venv
env/
venv/

# IDE / Editor specific files
.vscode/
.idea/

# Test outputs
.pytest_cache/
.coverage
htmlcov/

# Build artifacts
build/
dist/
*.egg-info/

# Arquivos de log
*.log

tests.py
core/__pycache__/
models/__pycache__/
